In [93]:
#Import
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
import string
from textblob import TextBlob

In [6]:
#Load and print head of DataFrame
df = pd.read_csv("spam-data.tsv", sep="\t", names=["label", "message"])
df.head()

  label                                            message
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham               I HAVE A DATE ON SUNDAY WITH WILL!!!

In [9]:
#Print details about quantity(rows, columns)
df.shape

(5567, 2)

In [10]:
#Check and remove duplicates
df.drop_duplicates(inplace = True)

In [11]:
#Veryfy how many duplicates have been deleted (rows, columns)
df.shape

(5164, 2)

In [12]:
#Show the number of invalid/missing data (NAN, Nan ..)
df.isnull().sum()

label      0
message    0
dtype: int64

In [17]:
#Delete punctuation
df['message'] = df['message'].str.replace('[^\w\s]', '')
df.head()

  label                                            message
0   ham  Ive been searching for the right words to than...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I dont think he goes to usf he lives aroun...
3   ham  Even my brother is not like to speak with me T...
4   ham                  I HAVE A DATE ON SUNDAY WITH WILL

In [18]:
#Delete stopwords
stop = stopwords.words('english')
df['message'] = df['message'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df.head()

  label                                            message
0   ham  Ive searching right words thank breather I pro...
1  spam  Free entry 2 wkly comp win FA Cup final tkts 2...
2   ham      Nah I dont think goes usf lives around though
3   ham  Even brother like speak They treat like aids p...
4   ham                  I HAVE A DATE ON SUNDAY WITH WILL

In [30]:
#Count frequently used words
freq = pd.Series(' '.join(df['message']).split()).value_counts()[:11]
freq

I       1395
u        696
2        447
call     326
get      322
U        315
Im       303
4        263
ur       255
ltgt     254
You      246
dtype: int64

In [48]:
#Delete frequently used words
#freq = list(freq.index)
df['message'] = df['message'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
df['message'].head()

0    Ive searching right words thank breather promi...
1    Free entry wkly comp win FA Cup final tkts 21s...
2               Nah think goes usf lives around though
3            Even brother speak They treat aids patent
4                      HAVE A DATE ON SUNDAY WITH WILL
Name: message, dtype: object

In [47]:
#Re-count frequently used words
freq = pd.Series(' '.join(df['message']).split()).value_counts()[:11]
freq

go      242
know    233
like    220
dont    209
got     199
come    192
time    183
day     164
want    164
lor     157
No      156
dtype: int64

In [85]:
#Count rare used words
rare = pd.Series(' '.join(df['message']).split()).value_counts()[-7045:]
rare

freaking           1
1013               1
alexs              1
atyour             1
sky                1
                  ..
club4mobilescom    1
Sary               1
Sos                1
embassy            1
converted          1
Length: 7045, dtype: int64

In [89]:
#Delete rare used words
df['message'] = df['message'].apply(lambda x: " ".join(x for x in x.split() if x not in rare))
df['message'].head()

0    Ive searching right words thank promise wont t...
1    Free entry wkly comp win FA Cup final tkts 21s...
2               Nah think goes usf lives around though
3                        Even brother speak They treat
4                      HAVE A DATE ON SUNDAY WITH WILL
Name: message, dtype: object

In [90]:
#Re-count rare used words
rare = pd.Series(' '.join(df['message']).split()).value_counts()[-1:]
rare

177    2
dtype: int64

In [99]:
#Tokenization - split sentence into word list
nltk.download('punkt')
TextBlob(df['message'][2]).words

[nltk_data] Downloading package punkt to /Users/arekk/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

WordList(['Nah', 'think', 'goes', 'usf', 'lives', 'around', 'though'])